table {
    width: 100%;
  
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      color: gray;
    }
  
    .middle {
      width: 40%;
    }
  
    tr.mat-header-row {
      height: 35px;
    }
  }
  
  .error-input {
    color: red;
  }
  
  .campo-obrigatorio{
    text-align: left;
    color: lightgray;
  }
  
  .form {
    border: 1px solid lightgray;
    padding: 24px;
    border-radius: 5px;
  }
  
  h4 {
    font-size: 14px;
    color: #5bc0de;
    font-weight: bold;
    padding: 0 0 15px;
  }
  
  .table {
    border: 1px solid lightgray;
    border-radius: 5px;
  
    &>h4 {
      padding: 15px 24px;
    }
  }
  
  .submit {
    text-align: right;
  
    &>.btn-info {
      font-size: 10px;
  
      &:focus {
        outline: none;
      }
    }
  }
  
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
  }
  
  .error {
      border-color: red
  }
  
  .col-12 {
    padding: 5%;
  }
  
  .material-icons {
    cursor: pointer;
  
    &:hover {
      color: gray;
    }
  
    &:active {
      color: black;
      outline: none;
      background-size: 100%;
      transition: background 1s;
    }
  }
